@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
}

a {
  color: #1C9C94;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-image: url('download.jpg');
  background-size: cover;
  background-position: fixed;
  color: black;
  font-weight: 900;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  border-radius: 50%;
  max-width: 150px;
}


h1 {
  text-transform: uppercase;
  margin: 1em 0;
  color: white;
  font-weight: bolder;
}
h2 {
  text-transform: uppercase;
  margin: 1em 0;
  color: black;
  font-weight: bolder;

}

h3 {
  text-transform: uppercase;
  color: #1C9C94;
}

h3, h4 {
  font-weight: bold;
  size: 1040pt;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.fab {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

a .fab {
  color: white;
}

.course, .skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course .title {
  color: #000000;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
}


.skills .column {
  -ms-flex: 0 0 50%%;
  flex: 0 0 50%;
  max-width: 50%;
}

.skills .column ul, ul.job-description {
  list-style-type: none;
}

.skills .column ul > li:before {
  content: "►";
  padding-right: 0.5em;
  color: #509e98;
}

.school, .job-title {
  text-transform: capitalize;
}

.school span, .job-title span {
  color: #889499;
  text-decoration: underline;
}

ul.job-description li:before{
  content: "✔";
  padding-right: 0.5em;
  color: #509e98;
}

contactInfo{
  padding-top: 10px;
  border-bottom: 1px solid rgb(92, 92, 91);
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.title{
  color:#1C9C94;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.contactInfo ul{
  position:relative;
  list-style: none ;
}
.contactInfo ul li{
  list-style: none;
  position: relative;
  margin: 10px o;
  cursor:pointer;
}
.contactInfo ul li .icon{
  list-style: none;
  display: inline-block;
  width:30px;
  font-size: 18px;
  color: rgb(92, 92, 91);
}
.contactInfo ul li span{
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 10px;
}
.year{
  background-color: #c4caca;
  padding: 5px;
  color: white;
  border-radius: 10px;
